[mysqld]
skip-name-resolve
max_allowed_packet = 100M
innodb_buffer_pool_size=100M
explicit_defaults_for_timestamp=true
max_connections=500
bind-address=0.0.0.0
default-time-zone = '+8:00'
#解决不监听ipv4
sql_mode=NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,ANSI_QUOTES
#ANSI_QUOTES 解决双引号导入失败问题
