version: '3'

services:
  etcd:
    image: "quay.io/coreos/etcd:latest"
    container_name: etcd
    environment:
      - ETCDCTL_API=3
    command: [
        "etcd",
        "--name=etcd0",
        "--advertise-client-urls=http://${DOCKER_HOST_IP}:2379",
        "--listen-client-urls=http://0.0.0.0:2379",
        "--initial-advertise-peer-urls=http://${DOCKER_HOST_IP}:2380",
        "--listen-peer-urls=http://0.0.0.0:2380",
        "--initial-cluster=etcd0=http://${DOCKER_HOST_IP}:2380",
    ]
    ports:
      - "2379:2379"
      - "2380:2380"
    restart: always
