version: '3'

# services config in one docker-compose file for integrate test
# integrate test will start up services and samples test will depend on those containers
services:
  zookeeper:
    image: zookeeper:3.8.4
    ports:
      - "2181:2181"
    restart: on-failure

  nacos:
    image: nacos/nacos-server:v2.1.2-slim
    container_name: nacos-standalone
    environment:
      - PREFER_HOST_MODE=hostname
      - MODE=standalone
    ports:
      - "8848:8848"
      - "9848:9848"
    healthcheck:
      test: "curl --fail http://127.0.0.1:8848/nacos/v1/console/health/liveness || exit 1"
      interval: 5s

  polaris:
    image: polarismesh/polaris-standalone:latest
    container_name: polaris-standalone
    privileged: true
    ports:
      - "8090:8090"
      - "8091:8091"
      - "8093:8093"
    healthcheck:
      test: "curl --fail http://127.0.0.1:8090 || exit 1"
      interval: 5s

  etcd:
    image: "quay.io/coreos/etcd:v3.4.28"
    container_name: etcd
    environment:
      - ETCDCTL_API=3
    command: [
        "etcd",
        "--name=etcd0",
        "--advertise-client-urls=http://127.0.0.1:2379",
        "--listen-client-urls=http://0.0.0.0:2379",
        "--initial-advertise-peer-urls=http://127.0.0.1:2380",
        "--listen-peer-urls=http://0.0.0.0:2380",
        "--initial-cluster=etcd0=http://127.0.0.1:2380",
    ]
    ports:
      - "2379:2379"
      - "2380:2380"
    restart: always
